@model ArticleModel

<ul class="nav nav-pills mb-3">
    @foreach(var topic in Model.Topics)
    {
        <li class="nav-item">
            <a class="nav-link @(topic.Id == Model.ArticleTopic.Id ? "active" : "")" asp-controller="News" asp-action="Topics" asp-route-id="@topic.Id">@topic.Title</a>
        </li>
    }
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">@Model.ArticleTopic.Title</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Article.Title</li>
    </ol>
</nav>
<div>
    <h1>@Model.Article.Title</h1>
    <h5>@Model.Article.Author <span class="text-secondary">@Model.Article.PublishedOn</span></h5>
    <div>
        @if (Model.Image != null)
        {
            <img src="~/ArticleImages/@Model.Image" class="img-fluid" width="100%" />
        }
    </div>
    <p>
        @Model.Article.Text
    </p>
</div>