@model TopicsModel

<ul class="nav nav-pills mb-3">
    @foreach (var topic in Model.Topics)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="News" asp-action="Topics" asp-route-id="@topic.Id">@topic.Title</a>
        </li>
    }
</ul>
@if (Model.ActiveTopic != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Model.ActiveTopic.Title</li>
        </ol>
    </nav>
}

@if (Model.Articles != null)
{
    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
                    <div class="card-body">
                        <a class="card-link" asp-controller="News" asp-action="Article" asp-route-id="@article.Id">@article.Title</a>
                    </div>
                </div>
            </div>
        }
    </div>
}